/* Remover bordas arredondadas */
.custom-dropdown-menu .dropdown-item{
    border-radius: 0 !important;
}

div {
    color: blueviolet;
}

/* Ajustar a posição do dropdown */
.custom-dropdown-menu {
    margin-top: 8px; /* Ajuste conforme necessário */
}

/* Exibir o dropdown ao passar o mouse */
.dropdown:hover .dropdown-menu {
    display: block;
    animation: fadeIn 0.2s ease-in-out; /* Animação opcional */
}

/* Animação para o dropdown (opcional) */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}