{% extends 'base.html' %} <!-- Extende o template base -->

{% block title %}Login{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Login</h2>
                    <form method="post" action="{% url 'autenticar' %}">
                        {% csrf_token %}
                        <!-- Nome de Usuário -->
                        <div class="mb-3">
                            <label for="username" class="form-label">Nome de Usuário:</label>
                            <input type="text" id="username" name="username" class="form-control"
                                placeholder="Digite seu nome de usuário" required>
                        </div>
                        <!-- Senha -->
                        <div class="mb-3">
                            <label for="password" class="form-label">Senha:</label>
                            <input type="password" id="password" name="password" class="form-control"
                                placeholder="Digite sua senha" required>
                        </div>
                        <!-- Botão de Login -->
                        <button type="submit" class="btn btn-primary w-100 mb-3">Entrar</button>
                    </form>
                    <!-- Link para cadastro -->
                    <p class="text-center mt-3">
                        Ainda não tem uma conta? <a href="{% url 'cadastro' %}" class="text-decoration-none">Cadastre-se
                            aqui</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}